body{
    background: rgb(255, 254, 254);
}
#home, #contact,#notfound{
    height: 100vh;
}
#navbar,footer{
    background-color: rgba(33, 196, 153, 0.815);
}
#footer{
    background-color: rgba(33, 196, 153, 0.815);
}
.btn{
    background-color: rgba(33, 196, 153, 0.815)
}